/*
  Versionshantering-projekt 1 (FE23)
  Miniprojekt 1 : APIpage v.2
  Grupp 1

 Weather/about css
**************************************/


#aboutsection{
  color:#3b3b76;
}
#aboutsection h1{
  text-align: center;
  margin-bottom:1em;
}

/* #aboutsection {
  width: 90vw;
} */



.about-us-text{
  text-align: center;
}
.about-us-image{
  display: none;
}

/* .centerInfoAboutUs {
  width: 200vw;
  text-align: center;
  margin:0 auto;
} */

/* Desktop Styles */
@media only screen and (min-width: 701px) {

  #aboutsection > div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap:8vw;
    margin-top:2em;
    padding-right:8vw;
    max-width:1400px;

  }

  .about-us-text{
    text-align: center;
    flex:1;
  }

  .about-us-image{
    display: block;
    flex:0.8;
  }



}


