.contactusForm {
    display: flex;
    position: relative;
    justify-content: left;
    align-items: inherit;
    flex-direction: column;
}

.name-query {
    width: 50vw;
    font-size: 1em;
    border: 2px solid #3b3b76;
    padding: 5px;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    outline: none;
    color: #3b3b76;
  }

  .contactus-query {
    display: flex;
    position: relative;
    justify-content: left;
    width: 50vw;
    font-size: 1em;
    border: 2px solid #3b3b76;
    margin-top: 0.5rem;
    padding: 5px;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    outline: none;
    color: #3b3b76;
  }

  .submit-button {
    border: 1px solid #3b3b76;
    background: #3b3b76;
    text-align: center;
    width: 50vw;
    color: #fff;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 20px;
    font-size: 1em;
    padding: 10px;
    margin-top: 0.5rem;
  }
  
  .submit-button:hover {
    opacity: 0.75;
  
  }

#thankyoumsg {
  margin-top: 2rem;
}

  @media only screen and (max-width: 700px) {

  .name-query{
    width: 100%;
  }  
  .contactus-query {
    width: 100%;
  }
  .submit-button {
    position: relative;
    width: 100%;
  }
  }