/*
  Versionshantering-projekt 1 (FE23)
  Miniprojekt 1 : APIpage v.2
  Grupp 1

  Dark interface css
**************************************/


.darkmode {
  background-color: black;
  color:#e2a266;
}


.darkmode #darkmodebutton{
  background-color: #e0be9f;
  border: 1px solid #b08d6d;
  color: #111827;
  text-decoration: none #D1D5DB solid;
}
.darkmode #darkmodebutton:hover{
  background-color: #e2a266;
  color:#fff;
}

.darkmode h1{
  color:#fff;
}


/**** Search ***/
.darkmode .search-query{
  border: 2px solid #e2a266; 
  outline: none;
  color: #e9dfd7;
  background-color: #000;;
}
.darkmode input::placeholder {
  opacity: 0.5;
  color: #3b3b76;
  color: #dcdcff;
}

.darkmode .search-button {
  border: 1px solid #e2a266;
  background: #e2a266;
  color: #fff;
}

/**** Weather ***/
.darkmode .currentweather-city-info{
  border-bottom:1px solid #e2a266;
}

.darkmode .currentweather-city-weather-wind-gust{
  color:#b28051;
}

.darkmode .weather-forecasts-day-time{
  border-bottom:1px solid #e2a266;
}

.darkmode .weather-forecasts-day-title{

  background-color: #e2a266;
  /* background-color: #9a9acf; */
  color:#fff;
  border-bottom:1px solid #e0be9f;
}



.darkmode .currentweather-city{
  box-shadow: rgba(177, 177, 177, 0.25) 0px 6px 24px 0px, rgba(122, 122, 122, 0.12) 0px 0px 0px 1px;
}

.darkmode .weather-city{
  box-shadow: rgba(177, 177, 177, 0.25) 0px 6px 24px 0px, rgba(122, 122, 122, 0.12) 0px 0px 0px 1px;
}

/**** Pollution ***/


.darkmode .current-pollution-forecast-city {
  box-shadow: rgba(177, 177, 177, 0.25) 0px 6px 24px 0px, rgba(122, 122, 122, 0.12) 0px 0px 0px 1px;
}

.darkmode .pollution-forecasts-day-title{
  background-color: #e2a266;
  color:#fff;
  border-bottom:1px solid #e0be9f;
}


.darkmode .current-pollution-forecast-data {
    border-bottom: 1px solid #e2a266;
}


.pollution-forecast-city {
  box-shadow: rgba(177, 177, 177, 0.25) 0px 6px 24px 0px, rgba(122, 122, 122, 0.12) 0px 0px 0px 1px;
}

.darkmode .pollution-forecast-data {
  background-color: #4a4a53;
  border-bottom: 1px solid #242429;

}

.darkmode .pollution-forecast-quality-index {
  color: #000;
}

/**** About us *****/

.darkmode #aboutsection{
  background-image: none;
  color:#e2a266;
}



/**** Contact us *****/

.darkmode .name-query {
  border: 2px solid #e2a266; 
  outline: none;
  color: #e9dfd7;
  background-color: #000;;
}

.darkmode .contactus-query {
  border: 2px solid #e2a266; 
  outline: none;
  color: #e9dfd7;
  background-color: #000;;
}

.darkmode .submit-button {
  border: 1px solid #e2a266;
  background: #e2a266;
  color: #fff;
  }