/*
  Versionshantering-projekt 1 (FE23)
  Miniprojekt 1 : APIpage v.2
  Grupp 1

  Dark interface css
**************************************/


.darkmode {
  background-color: black;
  color:#e2a266;
}

.darkmode .search-query{
  border: 2px solid #e2a266; 
  outline: none;
  color: #e9dfd7;
  background-color: #000;;
}
.darkmode input::placeholder {
  opacity: 0.5;
  color: #3b3b76;
  color: #dcdcff;
}

.darkmode .search-button {
  border: 1px solid #e2a266;
  background: #e2a266;
  text-align: center;
  color: #fff;
}


.darkmode .currentweather-city-info{
  border-bottom:1px solid #e2a266;
}

.currentweather-city-weather-wind-gust{
  color:#b28051;
}

.darkmode .weather-forecasts-day-time{
  border-bottom:1px solid #e2a266;
}

.darkmode .weather-forecasts-day-title{
  background-color: #3b3b76;
  background-color: #e2a266;
  /* background-color: #9a9acf; */
  color:#fff;
  border-bottom:1px solid #e0be9f;
}



.darkmode .currentweather-city{
  box-shadow: rgba(246, 244, 244, 0.25) 0px 6px 24px 0px, rgba(246, 245, 245, 0.12) 0px 0px 0px 1px;
}

.darkmode .weather-city{
  box-shadow: rgba(246, 244, 244, 0.25) 0px 6px 24px 0px, rgba(246, 245, 245, 0.12) 0px 0px 0px 1px;
}