/*
  Versionshantering-projekt 1 (FE23)
  Miniprojekt 1 : APIpage v.2
  Grupp 1

  Main interface css
**************************************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Inter', sans-serif;
  /* color:#3b3b76; */
  color:#444;
  height: 100%;
}

body{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
}

.hide {
  display: none !important;
}

h1, h2, h3, h4, h5, h6{
margin:0.5em 0 0.5em 0;
}

h1{
  font-size: 1.3rem;
  margin:1em 0 0.5em 0;
}
h2{
  font-size: 0.95rem;
  margin:1em 0 0.5em 0;
}

p {
  margin-bottom:15px;
}
p:nth-last-child(1) {
  margin-bottom:0;
}

.wrapper {
  margin: 0 auto 0 auto;
  width:93vw;
  flex: 1 0 auto;
}


/*********ERROR SECTION*****/

#errorsection{
  position: relative;
  top:8.5em;
}

/****** Header Menu *******/

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color:#3b3b76;
  color: #fff;
  height: 50px;
  padding: 1.4em;
  z-index: 10;
}
.top-nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.top-nav a:hover {
  color: #e2a266;
  text-decoration: none;
  font-weight: bold;
}

.menu {
  top: 0;
  left: 0;
  margin-top: 50px;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #e2a266;
  position: absolute;
  height: 3px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  /* background: rgba(255, 255, 255, 0); */
  background: #3b3b76;
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}


.menu-button-container {
  display: flex;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu ul {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu > ul >li a{
  /* color: white; */
  color: #e9dfd7;
  text-decoration: none;
  font-weight: normal;
}

.menu >ul > li a:hover{
  overflow: hidden;
  color: #e2a266;
  font-weight: normal;
}

.menu > ul > li {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0.5em 0;
  color: #e9dfd7;
  background: #3b3b76;
  overflow: hidden;
}

.menu > ul > li:not(:last-child) {
  border-bottom: 1px solid #444;
}


#darkmodebutton{
  background-color: #FFFFFF;
  background-color: #e0be9f;
  /* border: 1px solid rgb(209,213,219); */
  border: 1px solid #a7672c;
  border-radius: .5rem;
  /* box-sizing: border-box; */
  color: #111827;
  font-size: .875rem;
  font-weight: 600;
  /* line-height: 1.25rem; */
  padding: .15rem 0.5rem;
  text-align: center;
  /* text-decoration: none #D1D5DB solid; */
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#darkmodebutton:hover {
  background-color: rgb(249,250,251);
  background-color: #e2a266;
}

#darkmodebuttonfocus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

#darkmodebutton:focus-visible {
  box-shadow: none;
}


/********** Search ****/

.searchForm{
  display: flex;
  position: relative;
  width: 100%;
}

.search-query{
  width: 70vw;
  font-size: 1em;
  border: 2px solid #3b3b76; 
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  border-radius: 0.5rem 0 0 0.5rem;
  outline: none;
  color: #3b3b76;
}


.search-button {
  border: 1px solid #3b3b76;
  background: #3b3b76;
  text-align: center;
  color: #fff;
  border-radius: 0 0.5rem 0.5rem 0;
  cursor: pointer;
  font-size: 20px;
  font-size: 1em;
  padding:10px;
}
.search-button:hover{
  opacity:0.75;
}



/****Footer *****/

.main-footer{
  background-color:#3b3b76;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  justify-content: space-between;
  height: 50px;
  padding: 1.4em;
  flex-shrink: 0;
  margin-top:40px;
}
.copyright{
  font-size: 0.7em;
}

.main-footer ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 2px 15px;
}

.main-footer a{
  color: #e2a266;
}
.main-footer a:hover{
  color: #fff;
}


/********************* MEDIA QUERIES ****************/

/******* Special for Mobile menu ****/
@media only screen and (max-width: 700px) {
  .menu {
    position: absolute;
    width: 100%;
  }
  
  .menu > ul > li {
    width: 100%; 
  }

  #menu-toggle ~ .menu ul li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu ul li {
    border: 1px solid #333;
    border: 1px solid #535378;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }  

}


/* Desktop Styles */

@media only screen and (min-width: 701px) {

  .menu-button-container {
    display: none;
  }
  
  .menu {
    margin-top: 0px;
  }

  .menu ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .menu > ul > li {
    display:block;
    margin: 0 1rem;
    overflow: hidden;
    font-weight: normal;
  }

  .menu > ul >li a{
    overflow: hidden;
  }

  .search-container{
    width: 60%;
    width: 60vw;
    display: block;
  }

  .main-footer{
    align-items: center;
    justify-content: flex-end;
    justify-content: space-between;
    height: 50px;
    padding: 1.4em;
  }
  .copyright{
    font-size: 0.7em;
  }



}
