/*
  Versionshantering-projekt 1 (FE23)
  Miniprojekt 1 : APIpage v.2
  Grupp 1

Pollution css
**************************************/




/**** Current pollution *****/
.current-pollution-forecast-city{
  font-size: 1.15em;
  padding:1em;
  margin:20px 0 0 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}


/* .current-pollution-forecast-item{

} */

.current-pollution-forecast-data{
  display: flex;
  flex-wrap: wrap;
  gap:10px;
  margin-bottom:20px;
  padding-bottom: 10px;
  border-bottom:1px solid #3B3B76;
}


.current-pollution-forecast-pollutants{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.current-pollution-forecast-pollutants span{
  font-weight: 500;
  margin-right:10px;
}


/******** Poullution forecast ***********/

.pollution-forecast-city{
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.pollution-forecast-datetime{
  width:100%;
  font-size: 1rem;
  font-size: 0.9em;
  font-weight: 500;
  background-color: #3B3B76;
  color:#fff;
  padding:6px;
  border-bottom:1px solid #bfbfdc;
  text-align: center;
  margin:0;
  cursor: pointer;
}
.pollution-forecast-datetime:hover{
  opacity: 0.75;
}

.pollution-forecast-quality-index{
  display: none;
}

/********* Pollution forecast Header *********************/

.pollution-forecast-city-name{
  font-size: 1.3em;
  padding:15px 0 0 15px;
}


/********************* MEDIA QUERIES ****************/


/* Desktop Styles */

@media only screen and (min-width: 701px) {

  /* #pullutionsection{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap:1em;
  } */

  #currentpollutionresultsdiv{
    width:45vw;
    margin:0;
  }
  #pollutionresultsdiv{
    width:45vw;

  }
.current-pollution-forecast-city, .pollution-forecast-city-name{
  margin-top:20px;
}

}

@media only screen and (min-width: 1024px) {
}

