/*
  Versionshantering-projekt 1 (FE23)
  Miniprojekt 1 : APIpage v.2
  Grupp 1
**************************************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Inter', sans-serif;
  /* color:#3b3b76; */
  color:#444;
  height: 100%;
}
body{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6{
margin:0.5em 0 0.5em 0;
}

h1{
  font-size: 1.3rem;
  margin:1em 0 0.5em 0;
}
/* h3{
  font-size: 1.3rem;
  margin:1em 0 0.5em 0;
  color:#e2a266
} */

/* 
p {
  margin-bottom:15px;
}
p:nth-last-child(1) {
  margin-bottom:0;
} */

.wrapper {
  margin: 0 auto 0 auto;
  width:93vw;
  flex: 1 0 auto;

}

.hide {
  display: none;
}


/****** Header Menu *******/

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color:#3b3b76;
  color: #fff;
  height: 50px;
  padding: 1.4em;
}
.top-nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.top-nav a:hover {
  color: #e2a266;
  text-decoration: none;
  font-weight: bold;
}

.menu {
  top: 0;
  left: 0;
  margin-top: 50px;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #e2a266;
  position: absolute;
  height: 3px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  /* background: rgba(255, 255, 255, 0); */
  background: #3b3b76;
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}


.menu-button-container {
  display: flex;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu ul {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu > ul >li a{
  /* color: white; */
  color: #e9dfd7;
  text-decoration: none;
  font-weight: normal;
}

.menu >ul > li a:hover{
  overflow: hidden;
  color: #e2a266;
  font-weight: normal;
}

.menu > ul > li {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0.5em 0;
  color: #e9dfd7;
  background: #3b3b76;
  overflow: hidden;
}

.menu > ul > li:not(:last-child) {
  border-bottom: 1px solid #444;
}

/****Search ****/

.searchForm{
  display: flex;
  gap:15px;
  margin:10px 0 10px 0;
  /* padding:20px; */
}

.search-query{
  margin: 0 auto;
  width: 100%;
  height: 40px;
  padding: 0 15px;
  font-size: 1rem;
  border: 1px solid #444;
  border: 1px solid rgb(209,213,219);
  outline: none;
  border-radius: 1.2em;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
}

.search-button {
  background-color: #FFFFFF;
  background-color: rgb(249,250,251);
  background-color: rgb(232, 234, 235);
  
  border: 1px solid rgb(209,213,219);
  border-radius: .5rem;
  border-radius: 1rem;
  color: #111827;
  font-size: .875rem;
  font-weight: 600;
  /* line-height: 1.25rem; */
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.search-button:hover {
  background-color: rgb(211, 214, 215);
}

.search-button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.search-button :focus-visible {
  box-shadow: none;
}



/*************** WEATHER ********************/

.currentweather-city{
  font-size: 1.15em;
  padding:1em;
  margin:20px 0 0 0;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}


.currentweather-city-info{
  display: flex;
  flex-wrap: wrap;
  gap:10px;
}


/* .currentweather-city-info{
  background-color: darkorange;
} */
.currentweather-city-info > div{
  font-size:0.9em;
}


.currentweather-city-name{
  width:100%;
  font-size: 1.3em;
  margin:0.2 0 0.1em 0;
  color:#e2a266;
}


.currentweather-city-sunset span, .currentweather-city-sunrise span{ 
  font-weight: 500;
  margin-right:3px;
}

.currentweather-city-weather{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap:10px;
  margin-top:10px;
  /* background-color: darkolivegreen; */

} 

.currentweather-city-weather-type{
  /* background-color: cyan; */
  width:100%;
  text-transform: capitalize;
}

.currentweather-city-weather-icon{
  /* background-color: chocolate; */
  height:80px;
  /* flex: 1; */


}
.currentweather-city-weather-clouds{
  background-color: chartreuse;
  display: none;
}
.currentweather-city-weather-temp{
  font-size: 1.5em;
}
.currentweather-city-weather-temp span{
  background-color:blue;
  display: none;
}
.currentweather-city-weather-wind-wrapper{
  /* background-color: honeydew; */
  display: flex;
  align-items: center;
  width:100%

}
/* .currentweather-city-weather-wind{
  background-color: #ccc;
} */
.currentweather-city-weather-wind span{
  font-weight: 500;
  margin-right:2px;
}
/* .currentweather-city-weather-wind-dir{
  background-color: mediumaquamarine;
} */
.currentweather-city-weather-visibility{
  background-color: honeydew;
  display: none;
}
.currentweather-city-weather-rainsnow{
  background-color: mediumspringgreen;
  display: none;
}



/********* Weather forecast *****/
.weather-city-info{
  display: flex;
  flex-wrap: wrap;
  padding:10px;
  font-size:0.8em;
}
.weather-city-info-name{
  width:100%;
  font-size: 1.3em;
  /* margin:0.2 0 0.1em 0; */

}

.weather-city{
  /* padding:10px; */
  margin:20px 0 0 0;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.weather-forecasts-day{
  margin:5px 0 0 0;
  border-bottom:1px solid #535378;
  border-bottom:1px solid #bfbfdc;
  margin:0;
  padding:0;
  font-size: 0.9em;
  cursor: pointer;
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
}
.weather-forecasts-day:hover{
  opacity: 0.75;
}


.currentweather-city-weather-icon, .weather-forecasts-day-time-icon{
  filter: drop-shadow(0 0 0.1rem rgb(78, 78, 78));
}

/**********/
.weather-forecasts-day-title{
  width:100%;
  font-size: 1rem;
  font-weight: 500;
  background-color: #3B3B76;
  color:#fff;
  padding:6px;
  /* color:#3B3B76; */
  border-bottom: 1px solid #ccc;
  text-align: center;
  margin:0;
  flex:1;
}


.weather-forecasts-day-time{
  border-bottom: 1px solid #d2d1d1;
  padding:8px;
  /* margin:0 auto; */
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content:space-evenly;
  gap:0px 10px;
  text-align: center;
}
.weather-forecasts-day-time > * { 
  flex: 4; 
  text-align: center;
}


.weather-forecasts-day-time-title{
  /* width:100%; */
  font-size: 1rem;
  font-weight: 500;
  color:#e2a266;
  margin:0 20px 0 0 ;
  margin:0;
  flex:1;
}

.weather-forecasts-day-time-type{
  /* text-transform: capitalize; */
  line-break: loose;
  font-size: 1em;
  flex:4;
}
.weather-forecasts-day-time-icon{
  /* height:40px; */
  width:10px;
  flex:2;
}

.weather-forecasts-day-time-temp{
  font-size: 1.1em;
  flex:1;
}

.weather-forecasts-day-time-temp-feels{
  font-size: 1em;
  flex:1;
}
.weather-forecasts-day-time-temp span{
  display:none;
} 
.weather-forecasts-day-time-temp-feels span{
  display:none;
} 

.weather-forecasts-day-time-wind-wrapper{
  display:flex;
  align-items: center;
  justify-content: center;
  font-size:0.95em;
}
.weather-forecasts-day-time-wind{
  line-break: loose;
  flex:3;
}

.weather-forecasts-day-time-wind span{
  display:none;
}
.weather-forecasts-day-time-wind-gust,
.weather-forecasts-day-time-wind-gust span{
  display:none;
}

/* .weather-forecasts-day-time-wind-dir{
  height:25px;
} */


.weather-forecasts-day-time-visibility,
.weather-forecasts-day-time-rainsnow, 
.weather-forecasts-day-time-clouds{
  display: none;
}








/****Footer *****/

.main-footer{
  background-color:#3b3b76;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
  padding: 1.4em;
  flex-shrink: 0;
}

.main-footer ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 2px 15px;
}

.main-footer a{
  color: #e2a266;
}
.main-footer a:hover{
  color: #fff;
}




/********************* MEDIA QUERIES ****************/

/******* Special for Mobile menu ****/
@media only screen and (max-width: 700px) {
  .menu {
    position: absolute;
    width: 100%;
  }
  
  .menu > ul > li {
    width: 100%; 
  }

  #menu-toggle ~ .menu ul li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu ul li {
    border: 1px solid #333;
    border: 1px solid #535378;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }  

}



/* Desktop Styles */

@media only screen and (min-width: 701px) {
  .menu-button-container {
    display: none;
  }
  
  .menu {
    margin-top: 0px;
  }

  .menu ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .menu > ul > li {
    display:block;
    margin: 0 1rem;
    overflow: hidden;
    font-weight: normal;
  }

  .menu > ul >li a{
    overflow: hidden;
  }

  .search-container{
    width: 60%;
    width: 60vw;
    display: block;
  }


    /****Weather****/
    #homeresultsdiv{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      justify-content:space-between;
      align-items: flex-start;
      gap:1em;
    }

    #homeresultsdiv article{
      width: 30%;
    }
    #homeresultsdiv article:first-child{
      width: 50%;
      /* max-width: 500px; */
      
    }
    #homeresultsdiv article:nth-child(2){
      width: 48%;
      max-width: 500px;
    }
    /* #homeresultsdiv .weather-city-forecasts:first-child{
      width: 50%;
    } */
    /* #homeresultsdiv > article{
      width: 50%;
    } */


  .currentweather-city-weather-icon {
      height: auto;
  }

  .weather-forecasts-day-time{
    padding:10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-aroundb;
    gap:0 10px;
  }

  .weather-forecasts-day-time-title{
    width:auto;
  }
  .weather-forecasts-day-time-wind-wrapper{
    width:auto;
  }
  .weather-forecasts-day-time-wind{
    font-size:1.1em;
  }
  .weather-forecasts-day-time-wind span{
    margin-right:2px;
  }

  /* .weather-forecasts-day-time > * { 
    flex: 2; 
  } */
  .weather-forecasts-day-time-type{
    flex:2;
  }

  .weather-forecasts-day-time-icon{
    flex:1;
    /* height:30px;
    width:30px; */
  }
  
  .weather-forecasts-day-time-temp{
    flex:3;
  }
  .weather-forecasts-day-time-title{
    flex:1;
  }


}

@media only screen and (min-width: 1024px) {
}
