/*
  Versionshantering-projekt 1 (FE23)
  Miniprojekt 1 : APIpage v.2
  Grupp 1

 Weather/startpage css
**************************************/

/**** CURRENT WEATHER *****/

.currentweather-city{
  font-size: 1.15em;
  padding:1em;
  margin:20px 0 0 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.currentweather-city-info{
  display: flex;
  flex-wrap: wrap;
  gap:10px;
  border-bottom:1px solid #ccc;
  padding-bottom:10px;
}

.currentweather-city-info > div{
  font-size:0.9em;
}

.currentweather-city-name{
  width:100%;
  font-size: 1.3em;
  margin:0.2em 0 0.1em 0;
  color:#e2a266;
}

.currentweather-city-sunset span, .currentweather-city-sunrise span{ 
  font-weight: 500;
  margin-right:3px;
}

.currentweather-city-weather{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap:10px;
  margin-top:10px;
} 

.currentweather-city-weather-type{
  width:100%;
}
.currentweather-city-weather-type::first-letter{
  text-transform: uppercase;
}


.currentweather-city-weather-icon{
  height:80px;
}
.currentweather-city-weather-clouds{
  width:100%;
}
.currentweather-city-weather-clouds span{
  margin-right:5px;
  font-weight: 500;
}

/* .currentweather-city-weather-temp-wrapper{
  color:#3B3B76;
} */

.currentweather-city-weather-temp{
  font-size: 1.5em;
}
.currentweather-city-weather-temp span{
  display: none;
}

.currentweather-city-weather-temp-feels{
  width:100%;
}
.currentweather-city-weather-temp-feels span{
  margin-right:5px;
  font-weight: 500;
}

.currentweather-city-weather-wind-wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap:10px;
  width:100%;
}

.currentweather-city-weather-wind span{
  font-weight: 500;
  margin-right:2px;
}

.currentweather-city-weather-wind-gust::before {
  content: "(";
}

.currentweather-city-weather-wind-gust::after {
  content: ")";
}

.currentweather-city-weather-wind-gust{
  color:#5e5e5e;
}

.currentweather-city-weather-wind-gust span{
  font-weight: 500;
  margin-right:5px;
}

.currentweather-city-weather-visibility{
  width:100%;
}

.currentweather-city-weather-visibility span{
  font-weight: 500;
  margin-right:5px;
}

.currentweather-city-weather-humidity{
  width: 100%;
}

.currentweather-city-weather-humidity span{
  font-weight: 500;
  margin-right:5px;
}

.currentweather-city-weather-pressure{
  width: 100%;
}

.currentweather-city-weather-pressure span{
  font-weight: 500;
  margin-right:5px;
}

.currentweather-city-weather-rainsnow{
  width: 100%;
}

.currentweather-city-weather-rainsnow span{
  font-weight: 500;
  margin-right:5px;
}

/********* Weather forecast Header *********************/
.weather-city{
  margin:20px 0 0 0;
  padding-bottom:10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}


.weather-city-info{
  display: flex;
  flex-wrap: wrap;
  padding:10px;
  font-size:0.9em;
  cursor: pointer;
}
.weather-city-info-name{
  width:100%;
  font-size: 1.3em;
}

.weather-city-info-sunrise{
  margin-right:1.5em;
}
.weather-city-info-sunrise span, .weather-city-info-sunset span{
  font-weight: 500;
  margin-right:5px;
}



/******************* WEATHER FORECAST DAILY*****************************/

.weather-forecasts-day-title{
  width:100%;
  font-size: 1rem;
  font-size: 0.9em;
  font-weight: 500;
  background-color: #3B3B76;
  color:#fff;
  text-align: center;
  margin:0;
  padding:6px;
  border-bottom:1px solid #bfbfdc;
  cursor: pointer;
}

.weather-forecasts-day-title:hover{
  opacity: 0.75;
}


.weather-forecasts-day-time{
  border-bottom: 1px solid #d2d1d1;
  padding:5px;
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content:space-evenly;
  gap:0px 10px;
  text-align: center;
}
.weather-forecasts-day-time > * { 
  flex: 4; 
  text-align: center;
}


.weather-forecasts-day-time-title{
  /* width:100%; */
  font-size: 1rem;
  font-weight: 500;
  color:#e2a266;
  margin:0 20px 0 0 ;
  margin:0;
  flex:1;
}


/*** TYPE ***/

.weather-forecasts-day-time-type{
  /* text-transform: capitalize; */
  line-break: loose;
  font-size: 1em;
  flex:3;
}
.weather-forecasts-day-time-type::first-letter{
  text-transform: uppercase;
}


/*** ICON ***/
.weather-forecasts-day-time-icon{
  /* height:40px; */
  width:10px;
  flex:2;
}


.currentweather-city-weather-icon, .weather-forecasts-day-time-icon{
  filter: drop-shadow(0 0 0.07rem rgb(96, 95, 95));
}

/*** TEMP ***/

.weather-forecasts-day-time-temp-wrapper{
  flex:2.5;
}

.weather-forecasts-day-time-temp{
  font-size: 1em;
}

.weather-forecasts-day-time-temp-feels{
  font-size: 0.9em;
}

.weather-forecasts-day-time-temp-feels::before {
  content: "(";
}

.weather-forecasts-day-time-temp-feels::after {
  content: ")";
}

.weather-forecasts-day-time-temp span{
  display:none;
} 
.weather-forecasts-day-time-temp-feels span{
  display:none;
} 


/*** WIND ***/
.weather-forecasts-day-time-wind-wrapper{
  display:flex;
  align-items: center;
  justify-content: flex-start;
  font-size:0.95em;
  flex:4;
}
.weather-forecasts-day-time-wind{
  line-break: loose;
  flex:2;
}
.weather-forecasts-day-time-wind-dir{
  flex:1;
}

.weather-forecasts-day-time-wind span,
.weather-forecasts-day-time-wind-gust,
.weather-forecasts-day-time-wind-gust span, 
.weather-forecasts-day-time-rain, 
.weather-forecasts-day-time-rain span, 
.weather-forecasts-day-time-snow, 
.weather-forecasts-day-time-snow span, 
.weather-forecasts-day-time-visibility,
.weather-forecasts-day-time-clouds, 
.weather-forecasts-day-time-rainsnow  {
  display:none;
}

/*** Rain/Snow ***/
.weather-forecasts-day-time-rain{
  flex:1;
  width: 100%;;
}

.weather-forecasts-day-time-snow{
  flex:1;
}

/********************* MEDIA QUERIES ****************/


/* Desktop Styles */

@media only screen and (min-width: 701px) {

  #homeresultsdiv{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap:1em;
  }

  .currentweather-city{
  width: 35vw;
  min-width: 385px;
  max-width: 450px;
  }

  .weather-city{
    width: 50vw;
    max-width: 700px;
  }

  .weather-forecasts-day-time{
  padding-right:20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:space-between;
  gap:0 10px;
  }

  .weather-forecasts-day-time-title{
    flex:1;
  }
  
  .weather-forecasts-day-time-type{
    flex:2;
  }

  .weather-forecasts-day-time-icon{
    flex:0.7;
  }
  .weather-forecasts-day-time-temp-wrapper{
    flex:1.7;
    display: flex;
    justify-content: space-around;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .weather-forecasts-day-time-temp{
    font-size: 1.1em;
  }

  .weather-forecasts-day-time-wind-wrapper{
    flex:2;
  }
  .weather-forecasts-day-time-wind{
    font-size:1.1em;
  }
  .weather-forecasts-day-time-wind-dir{
    flex:0.7;
  }
}


