/*
  Versionshantering-projekt 1 (FE23)
  Miniprojekt 1 : APIpage v.2
  Grupp 1

 Weather/startpage css
**************************************/

.currentweather-city{
  font-size: 1.15em;
  padding:1em;
  margin:20px 0 0 0;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}


.currentweather-city-info{
  display: flex;
  flex-wrap: wrap;
  gap:10px;
}


/* .currentweather-city-info{
  background-color: darkorange;
} */
.currentweather-city-info > div{
  font-size:0.9em;
}


.currentweather-city-name{
  width:100%;
  font-size: 1.3em;
  margin:0.2 0 0.1em 0;
  color:#e2a266;
}


.currentweather-city-sunset span, .currentweather-city-sunrise span{ 
  font-weight: 500;
  margin-right:3px;
}

.currentweather-city-weather{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap:10px;
  margin-top:10px;
  /* background-color: darkolivegreen; */

} 

.currentweather-city-weather-type{
  /* background-color: cyan; */
  width:100%;
  text-transform: capitalize;
}

.currentweather-city-weather-icon{
  /* background-color: chocolate; */
  height:80px;
  /* flex: 1; */


}
.currentweather-city-weather-clouds{
  background-color: chartreuse;
  display: none;
}
.currentweather-city-weather-temp{
  font-size: 1.5em;
}
.currentweather-city-weather-temp span{
  background-color:blue;
  display: none;
}


.currentweather-city-weather-temp-feels{
  width:100%;
}
.currentweather-city-weather-temp-feels span{
  margin-right:5px;
  font-weight: 500;
}

.currentweather-city-weather-wind-wrapper{
  /* background-color: honeydew; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap:10px;

}

.currentweather-city-weather-wind span{
  font-weight: 500;
  margin-right:2px;
}

.currentweather-city-weather-wind-gust::before {
  content: "(";
}

.currentweather-city-weather-wind-gust::after {
  content: ")";
}

.currentweather-city-weather-wind-gust{
  /* width:100%; */
}
.currentweather-city-weather-wind-gust span{
  display:none;
}
.currentweather-city-weather-visibility{
  background-color: honeydew;
  display: none;
}
.currentweather-city-weather-rainsnow{
  background-color: mediumspringgreen;
  display: none;
}



/********* Weather forecast *****/
.weather-city-info{
  display: flex;
  flex-wrap: wrap;
  padding:10px;
  font-size:0.8em;
}
.weather-city-info-name{
  width:100%;
  font-size: 1.3em;
  /* margin:0.2 0 0.1em 0; */

}

.weather-city{
  /* padding:10px; */
  margin:20px 0 0 0;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.weather-forecasts-day-title{
  margin:5px 0 0 0;
  border-bottom:1px solid #535378;
  border-bottom:1px solid #bfbfdc;
  margin:0;
  padding:0;
  font-size: 0.9em;
  cursor: pointer;
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
}
.weather-forecasts-day-title:hover{
  opacity: 0.75;
}


.currentweather-city-weather-icon, .weather-forecasts-day-time-icon{
  filter: drop-shadow(0 0 0.1rem rgb(78, 78, 78));
}

/**********/
.weather-forecasts-day-title{
  width:100%;
  font-size: 1rem;
  font-weight: 500;
  background-color: #3B3B76;
  color:#fff;
  padding:6px;
  /* color:#3B3B76; */
  border-bottom: 1px solid #ccc;
  text-align: center;
  margin:0;
  flex:1;
}


.weather-forecasts-day-time{
  border-bottom: 1px solid #d2d1d1;
  padding:8px;
  /* margin:0 auto; */
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content:space-evenly;
  gap:0px 10px;
  text-align: center;
}
.weather-forecasts-day-time > * { 
  flex: 4; 
  text-align: center;
}


.weather-forecasts-day-time-title{
  /* width:100%; */
  font-size: 1rem;
  font-weight: 500;
  color:#e2a266;
  margin:0 20px 0 0 ;
  margin:0;
  flex:1;
}

.weather-forecasts-day-time-type{
  /* text-transform: capitalize; */
  line-break: loose;
  font-size: 1em;
  flex:4;
}
.weather-forecasts-day-time-icon{
  /* height:40px; */
  width:10px;
  flex:2;
}

.weather-forecasts-day-time-temp{
  font-size: 1.1em;
  flex:1;
}

.weather-forecasts-day-time-temp-feels{
  font-size: 1em;
  flex:1;
}
.weather-forecasts-day-time-temp span{
  display:none;
} 
.weather-forecasts-day-time-temp-feels span{
  display:none;
} 

.weather-forecasts-day-time-wind-wrapper{
  display:flex;
  align-items: center;
  justify-content: center;
  font-size:0.95em;
}
.weather-forecasts-day-time-wind{
  line-break: loose;
  flex:3;
}

.weather-forecasts-day-time-wind span{
  display:none;
}
.weather-forecasts-day-time-wind-gust,
.weather-forecasts-day-time-wind-gust span{
  display:none;
}

/* .weather-forecasts-day-time-wind-dir{
  height:25px;
} */


.weather-forecasts-day-time-visibility,
.weather-forecasts-day-time-rainsnow, 
.weather-forecasts-day-time-clouds{
  display: none;
}


/********************* MEDIA QUERIES ****************/


/* Desktop Styles */

@media only screen and (min-width: 701px) {

    #homeresultsdiv{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      justify-content:space-between;
      align-items: flex-start;
      gap:1em;
    }

    #homeresultsdiv article{
      width: 30%;
    }
    #homeresultsdiv article:first-child{
      width: 50%;
      /* max-width: 500px; */
      
    }
    #homeresultsdiv article:nth-child(2){
      width: 48%;
      max-width: 500px;
    }
    /* #homeresultsdiv .weather-city-forecasts:first-child{
      width: 50%;
    } */
    /* #homeresultsdiv > article{
      width: 50%;
    } */


  .currentweather-city-weather-icon {
      height: auto;
  }

  .weather-forecasts-day-time{
    padding:10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-aroundb;
    gap:0 10px;
  }

  .weather-forecasts-day-time-title{
    width:auto;
  }
  .weather-forecasts-day-time-wind-wrapper{
    width:auto;
  }
  .weather-forecasts-day-time-wind{
    font-size:1.1em;
  }
  .weather-forecasts-day-time-wind span{
    margin-right:2px;
  }

  /* .weather-forecasts-day-time > * { 
    flex: 2; 
  } */
  .weather-forecasts-day-time-type{
    flex:2;
  }

  .weather-forecasts-day-time-icon{
    flex:1;
    /* height:30px;
    width:30px; */
  }
  
  .weather-forecasts-day-time-temp{
    flex:3;
  }
  .weather-forecasts-day-time-title{
    flex:1;
  }


}

@media only screen and (min-width: 1024px) {
}
